body {margin: 60px auto;width: 70%;}

/* Headers */
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

a { text-decoration: none; color: #999;}
a:hover { text-decoration: underline;}

p {font-size: 1.0em; line-height: 1.2em; color: #333;}

table, th, td {border: 0px solid black;}

/* Masthead */
footer {border-top: 1px solid #d5d5d5; font-size: .8em;}
footer ul { font-family:'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold;}
footer ul li { display: inline; margin-right: 20px;}

/*Navigation*/
nav {
    overflow: hidden;
}

nav a {
	float: left;
	display: block;
	padding: 14px 16px;
	text-align: center
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

nav a.active {
  background-color: black;
  color: white;
}

nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a.right {
    float: right;
}

/* Custom container */
.container > hr { margin: 30px 0; }
.container > hr.footer {margin-bottom: 15px; }

/* E-Mail */
.obfuscate { unicode-bidi: bidi-override; direction: rtl; }

/* individual page customisation */
/* posts */

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/* Main */
img.avatar {
  border-radius: 50%;
}

/* Packages */
div.packages {
    float: left;
    clear: both;
}

img.packages {
    float: left;
    margin: 0 15px 0 0;
}
