body {margin: 60px auto;width: 70%;}

/* default */
a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.0em;
    line-height: 1.2em;
    color: #333;
}

table, th, td {
   border: 0px solid black;
}

/* E-Mail */
.obfuscate { unicode-bidi: bidi-override; direction: rtl; }

/*nav settings*/

nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    display: block;
    width: 60px;
}

.nav-left {
    float: left;
}

.nav-left ul li {
    float: left;
}

.nav-right ul li {
    float: right;
}

/* Footer */

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

/* posts */

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/* individual page customisation */
/* Main */

img.avatar {
  border-radius: 50%;
}

/* Packages */

div.packages {
    float: left;
    clear: both;
}

img.packages {
    float: left;
    margin: 0 15px 0 0;
}
