<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
              			<!-- email -->
	        		<span class="obfuscate">rhematthews[at]gmail[dot]com</span>
             			<!--github-->
	        		<li><a href="https://github.com/rhematt">github.com/rhematt</a></li>
              			<!--publeons-->
              
             			 <!--google scholar-->
            
              			<!--institution website-->
				
	      			<!-- RSS -->
				<li><a href="https://rhematt.github.io/blog/atom.xml">RSS</a></li>
				
				</ul>
			</footer>
		</body>
	</html>
