<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script src="http://code.highcharts.com/highcharts.js"></script>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">Academic Bio</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/teaching">Teaching</a><li>
				<li><a href="/research">Research</a><li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
              			<li><a href="/site">About this Site</a><li>
				<li><a href="/contact">Contact</a><li>
				
	      			<!-- RSS -->
				<li><a href="https://rhematt.github.io/blog/atom.xml">RSS</a></li>
				
				</ul>
			</footer>
		</body>
	</html>
