<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script src="http://code.highcharts.com/highcharts.js"></script>
		</head>
		<body>
			<nav>	
	    			
	        			<a href="/">Home</a>
		        		<a href="/about">Academic Bio</a>
	        			<a href="/cv">CV</a>
	        			<a href="/blog">Blog</a>
					<a href="/teaching">Teaching</a>
					<a href="/research">Research</a>
					<a href="/packages">Packages</a>
				<nav-right>
						<a href="/CSRBC23">CSRBC23</a>
				</nav-right>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
              			<li><a href="/site">About this Site</a><li>
				<li><a href="/contact">Contact</a><li>
				
	      			<!-- RSS -->
				<li><a href="https://rhematt.github.io/blog/atom.xml">RSS</a></li>
				
				</ul>
			</footer>
		</body>
	</html>
